<!DOCTYPE html>
<!-- Don't look at me - I'm hideous! (Seriously, this was thrown together super quickly - a better site will follow soon, I'm sure) -->
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    
    <style>
      ul.social-links {
        margin: 0;
        padding: 0;
        list-style: none;
     }
     ul.social-links li {
         line-height: 32px;
         margin-bottom: 20px;
     }
     ul.social-links li img {
         vertical-align: bottom;
         margin-right: 5px;
     }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Abi Green" />
        {% endif %}

        <p>{{ site.description | markdownify }}</p>

        {% if site.show_social_links %}
        <ul class="social-links">
          {% if site.linkedin_username %}
              <li>
                <img src="/assets/img/icons/linkedin.svg" alt="LinkedIn" width="32"/>
                <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">{{ site.linkedin_username }}</a>
              </li>
          {% endif %}
          {% if site.github_username %}
              <li>
                <img src="/assets/img/icons/github.svg" alt="GitHub" width="32"/>
                <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
              </li>
          {% endif %}
          {% if site.instagram_username %}
              <li>
                <img src="/assets/img/icons/instagram.svg" alt="Instagram" width="32"/>
                <a href="https://www.instagram.com/{{ site.instagram_username }}">{{ site.instagram_username }}</a>
              </li>
          {% endif %}
	  {% if site.patreon_username %}
              <li>
                <img src="/assets/img/icons/patreon.svg" alt="Patreon" width="32"/>
                <a href="https://www.patreon.com/{{ site.patreon_username }}">{{ site.patreon_username }}</a>
              </li>
	  {% endif %}
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
